{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="banner">
    <h1>Vivez avec nous le tennis !</h1>
        <img src={{ asset('images/banner.jpg')}} alt="">
    </div>

    <section class="rejoindre">
        <h2>Pourquoi participer à nos tournois ?</h2>
        <div class="recomps">
            <div class="recomp">
                <h3>Des compétitions de qualité</h3>
                <p>Affrontez des joueurs de votre niveau et progressez.</p>
            </div>
            <div class="recomp">
                <h3>Des récompenses</h3>
                <p>Des trophées, des prix et une reconnaissance pour les meilleurs.</p>
            </div>
            <div class="recomp">
                <h3>Une communauté</h3>
                <p>Rencontrez d'autres joueurs et partagez votre passion.</p>
            </div>
        </div>
    </section>
{% endblock %}
