@use "../abstract/mixins";
@use "../abstract/variable" as v;

// FOOTER

footer {
    background-color: v.$titrecolor;
    color: white;
    text-align: center;
    padding: 2rem 2rem;


    .footer-container {
        @include mixins.flex($direction: column, $align: center);

        .footer-social {
            display: flex;
            gap: 1rem;

            a {
                height: 30px;
                color: white;
            }
        }
    }
}
