@use "../abstract/mixins";
@use "../abstract/variable" as v;
@use "../base/font";

// HEADER

#header {

    nav {
        padding: 2rem 2rem;
        background-color: v.$primarycolor;
        @include mixins.flex($direction: row);
        font-size: 20px;

        .navbar {
            display: flex;
            gap: 2rem;

            li {
                @include mixins.hover($hcolor: v.$secondarycolor);
            }
             a{
                color: v.$titrecolor;
                font-weight: bold;
                @include mixins.hover($hcolor: v.$secondarycolor);
            }
        }
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: v.$bgcolor;

    h1 {
        padding-bottom: 2rem;
        font-size: 40px;
        color: v.$titrecolor;
    }

    img {
        width: 80%;
        max-width: 1200px;
        height: 30rem;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    }
}