{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    <section class="container">
        <div id="formulaire">
            <div class="form">
                <h2>Inscrivez-vous !</h2>
                {{form_start(userform)}}         
                    {{form_widget(userform)}}
                    <button>Envoyer</button>
                {{form_end(userform)}}
            </div>
        </div>
    </section>
{% endblock %}
